[package]
name = "bootloader"
version = "0.1.0"
edition = "2024"
readme = "README.md"

[features]
guest_kernel = []

[dependencies]
types = { path = "../types" }
vm = { path = "../vm" }
state = { path = "../state" }
goblin = "0.10"
compiler = { path = "../compiler" }
